.cell {
    min-height: 5px;
    min-width: 5px;
    padding: 0;
    margin: 0;
    float: left;
    user-select: none;
}

img {
    height: 200px;
    width: 200px;
}

#footer {
    display: flex;
    gap: 5px;
}

header {
    font-family: 'Square Peg', cursive;
    font-size: 80px;
    font-weight: 550;
}

#subheader {
    font-family: 'Square Peg', cursive;
    font-size: 35px;
}

body {
    background-color: lightskyblue;
    margin: 0;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    width: 100%;
}

#cMiddle{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 30px;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 1);
}

#header {
    text-align: center;
}

#container {
    background-color: #fefefe;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 1);
}

#container >* {
    flex: 1;
}

.gridRow {
    display: flex;
    width: 500px;
}

.gridRow >* {
    flex: 1;
}

p {
    text-align: center;
    margin: 0;
}

#right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
    align-items: center;
}

#colorPicker {
    height: 50px;
    width: 50px;
    transition: transform 0.1s ease-in-out;
}

#colorPicker:hover {
    transform: scale(1.05);
}

button {
    width: 100%;
    cursor: pointer;
    border: none;
    height: 30px;
    text-transform: uppercase;
    background-color: lightskyblue;
    transition: transform 0.1s ease;
}

#sizeValue {
    font-family: 'Square Peg', cursive;
    font-size: 25px;
}

#upRight {
    font-family: 'Square Peg', cursive;
    font-size: 30px;
}

button:hover {
    transform: scale(1.05);
}